<div>
    <div class="well well-sm col-md-6">
        <div class="media-left media-middle">
            <a routerLink="../profile/{{user?.username}}"><img class="userAvatar" src="{{user?.avatarURL}}" alt="User avatar" /></a>
        </div>
        <div class="media-body media-middle">
            <div class="col-xs-8">
                <h3 class="media-heading">{{user?.username}}</h3>
                <p>{{user?.bio}}</p>
            </div>
            <div class="col-xs-4 pull-right">
                <p>{{ 'SMALL_PROFILE.FOLLOWERS' | translate }}:
                    <span>{{followers?.length || -1}}</span>
                </p>
                <p>{{ 'SMALL_PROFILE.FOLLOWING' | translate }}:
                    <span>{{following?.length || -1}}</span>
                </p>
            </div>
        </div>
    </div>
</div>