<div>
  <div class="form form-horizontal" name="loginForm" method="POST">
    <!--<h3>Login</h3>
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" name="" id="username" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="" id="password" />
      </div>
    </div>-->
    <div class="control-group">
      <div class="controls"><br/>
        <a routerLink="../timeline"><button type="button" id="btLogin" class="btn btn-primary">Go to timeline</button></a>
        <!--<button type="button" id="btResetCredentials" class="btn btn-default">Reset</button>-->
      </div>
    </div>
  </div>
</div>